@page "/upload"
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JSRuntime
@using NorthOaks.Shared.Models
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using Microsoft.AspNetCore.SignalR.Client


<h3 class="text-center mb-4"> Upload PDF Documents</h3>

<div class="d-flex justify-content-center">
    <div class="card shadow p-4" style="max-width: 700px; width: 100%;">

        <div class="card-body">

            <!-- Drag & Drop Area -->
            <div id="dropArea" class="border border-dashed rounded p-4 mb-3 text-center">
                <p class="mb-2">@dragText</p>
                <p>or click below to select a file</p>
            </div>

            <!-- Hidden InputFile -->
            <InputFile id="hiddenInputFile" style="display:none"
                       OnChange="HandleFileSelected" accept="application/pdf" />

            <button class="btn btn-primary w-100 mb-3" @onclick="UploadFile" disabled="@(!isFileSelected)">
                <i class="bi bi-upload"></i> Upload PDF
            </button>

            @if (!string.IsNullOrEmpty(statusMessage))
            {
                <div class="alert alert-info">@statusMessage</div>
            }

            @if (uploadedDocuments.Any())
            {
                <h5 class="mt-4">Uploaded Documents</h5>
                <ul class="list-group">
                    @foreach (var doc in uploadedDocuments)
                    {
                        <li class="list-group-item">
                            <i class="bi bi-file-earmark-pdf text-danger"></i> @doc
                        </li>
                    }
                </ul>
            }
            @if (isUploading && uploadProgress > 0 && uploadProgress < 100)
            {
                <Progress Class="mt-3 mb-3">
                    <ProgressBar Type="ProgressType.StripedAndAnimated"
                                 Color="ProgressColor.Success"
                                 Width="@uploadProgress">
                        @uploadProgress%
                    </ProgressBar>
                </Progress>
            }
            @if (isProcessing)
            {
                <div class="text-center my-4">
                    <p>@processingMessage</p>

                    <Progress Class="mt-3 mb-3">
                        <ProgressBar Type="ProgressType.StripedAndAnimated"
                                     Color="ProgressColor.Info"
                                     Width="@processingProgress">
                            @processingProgress%
                        </ProgressBar>
                    </Progress>
                </div>
            }


        </div>
     
    </div>
</div>

@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;
    private IBrowserFile? selectedFile;
    private bool isFileSelected = false;
    private string statusMessage = string.Empty;
    private List<string> uploadedDocuments = new();
    private string userId;
    private bool isDragOver = false;
    private string dragText = "Drag & drop a PDF here";
    private int uploadProgress = 0;
    private bool isProcessing = false;
    private bool isUploading = false;
    private string processingMessage = "";
    private HubConnection? hubConnection;
    private int processingProgress = 0;


    // Getting the User Info
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            userId = user.FindFirst("uid").Value;
        }

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/processingHub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<string, int>("ProcessingUpdate", (msg, progress) =>
        {
            processingMessage = msg;
            processingProgress = progress;

            if (progress >= 0 && progress < 100)
                isProcessing = true;

            if (progress == 100)
            {
                isProcessing = false;
                ToastService.Notify(new(ToastType.Success, "Document processed!"));
                Navigation.NavigateTo("/home");
            }

            if (progress < 0)
            {
                isProcessing = false;
                ToastService.Notify(new(ToastType.Danger, msg));
            }

            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        await hubConnection.InvokeAsync("JoinProcessingGroup", userId);

    }

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
        isFileSelected = selectedFile != null && selectedFile.ContentType == "application/pdf";
        statusMessage = isFileSelected ? $"Selected: {selectedFile.Name}" : " Please select a PDF file.";
    }
    // private async Task PollProcessingStatus(int contractId)
    // {
    //     isProcessing = true;
    //     processingMessage = "Processing your document... please wait";

    //     while (true)
    //     {
    //         try
    //         {

    //             var status = await Http.GetFromJsonAsync<ContractStatus>($"api/contracts/{contractId}/status");

    //             if (status != null)
    //             {
    //                 processingMessage = status.ProcessingStatus ?? "Processing your document...";

    //                 if (status.IsProcessed)
    //                 {
    //                     Finished processing
    //                     isProcessing = false;
    //                     ToastService.Notify(new(ToastType.Success, "Document processed successfully!"));
    //                     break;
    //                 }
    //             }
    //         }
    //         catch
    //         {

    //         }

    //         await Task.Delay(10000);
    //         StateHasChanged();
    //     }
    // }


    private async Task UploadFile()
    {
        isUploading = true;
        isProcessing = false;
        uploadProgress = 0;
        statusMessage = "Uploading...";

        if (selectedFile is not null)
        {
            try
            {
                using var stream = selectedFile.OpenReadStream(20 * 1024 * 1024);
                var content = new MultipartFormDataContent();

                var progressContent = new ProgressStreamContent(stream, 81920, (sent, total) =>
                {
                    uploadProgress = (int)((sent / (double)total) * 100);
                    InvokeAsync(StateHasChanged);
                });

                progressContent.Headers.ContentType =
                    new System.Net.Http.Headers.MediaTypeHeaderValue("application/pdf");

                content.Add(progressContent, "File", selectedFile.Name);
                content.Add(new StringContent(userId), "UserId");

                var response = await Http.PostAsync("api/Contracts/upload", content);

                isUploading = false;

                if (response.IsSuccessStatusCode)
                {

                    isProcessing = true;
                    statusMessage = "Upload complete, processing...";

                    var uploadedContract = await response.Content.ReadFromJsonAsync<ContractStatus>();

                    uploadedDocuments.Add(selectedFile.Name);
                    uploadProgress = 100;

                    ToastService.Notify(new(ToastType.Success, $"Upload Successful"));
                    //Navigation.NavigateTo("/home");
                }
                else
                {
                    isProcessing = false;
                    statusMessage = "Upload failed. Try again.";
                    ToastService.Notify(new(ToastType.Danger, $"Upload Failed"));
                }
            }
            catch (Exception ex)
            {
                isUploading = false;
                isProcessing = false;
                statusMessage = $"Error: {ex.Message}";
                ToastService.Notify(new(ToastType.Danger, $"Upload Failed"));
            }
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(30);
            await JSRuntime.InvokeVoidAsync("initDragDrop");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
            await hubConnection.DisposeAsync();
    }


}





